<form class="flex-shrink">
  <mat-form-field>
    <input matInput placeholder="Search"
           [(ngModel)]="yggSearchQuery.query"
           [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="yggSearchQuery.cat" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button type="button" (click)="search()">Search</button>
</form>

<div class="flex-grow overflow">
  <mat-table [dataSource]="dataSource"
             matSort
             [matSortActive]="yggSearchQuery.sort"
             (matSortChange)="sortEvent($event)"
             style="min-width: 800px">
    <ng-container matColumnDef="title" sticky>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.time | date:'dd/MM/yyyy hh:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Size</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.size}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="seed">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Seed</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.seeds}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="leech">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Leech</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.peers}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="detail(element)">
          <mat-icon aria-hidden="false">details</mat-icon>
        </button>
        <button mat-raised-button color="accent" (click)="download(element)">
          <mat-icon aria-hidden="false">cloud_download</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<mat-paginator class="flex-shrink"
               [length]="searchLength"
               [pageIndex]="searchPage"
               [pageSize]="50"
               (page)="pageEvent($event)">
</mat-paginator>
